@import "tailwindcss";




.marquee-container {
  width: 100%;
}

.marquee-track {
  display: inline-flex;
  animation: scroll 20s linear infinite;
}

/* @font-face {
  font-family: "JetRegular";
  src: url("/font/JetBrainsMono-Regular.ttf") format("truetype");
} */

body {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

